{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>New Listing</h2>
        <form action="{%url 'create' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {% for listing in listings %}
            {% if listing.active %}
                <li><a href="{% url 'listing' listing.id %}">Listing {{ listing.id }}: {{ listing.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}