{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>{{ title }}</h2>
        <table class="table table-hover border-secondary table-striped"> 
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>                
                {% for listing in listings %}
                    <tr>
                        <td>
                            <div class="container">
                                <a href="{% url 'listing' listing.id %}">
                                    <img src="{{ listing.picture.url }}" alt="">
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'listing' listing.id %}">
                                {{ listing.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'listing' listing.id %}">
                                {{ listing.description }}
                            </a>
                        </td>
                        <td align="right">
                            {{ listing.currentPrice }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}