{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>
            Listing {{ listing.id }}: {{ listing.title }}
            <a href="{% url 'watch' listing.id %}"><img src={% if starred %} "/static/auctions/star-on.svg" {% else %} "/static/auctions/star-off.svg" {% endif %} width="30px" height="30px"/></a>
        </h2>
        <div>
            <p><b>Category:</b> {{ listing.category }}</p>
            <p><b>Listed by:</b> {{ listing.owner }}</p>
            <p><b>Date:</b> {{ listing.creationDate }}</p>
            <img src={{ listing.picture.url }} sizes="640x480">
            <p>{{ listing.picture.url }}</p>
            <h3>Description:</h3>
            <p>{{ listing.description }}</p>
            <p><b>Initial price:</b> ${{ listing.initialPrice }}</p>
            <p><b>Current price:</b> ${{ listing.currentPrice }}</p>
        </div>
        <hr>
        <div>
            {% if message %}
                <script>
                    $(document).ready(function(){

                        //var x=document.getElementById("msgToast");
                        //x.toast('show');
                        $("#msgToast").toast('show');
                    });
                </script>
                <div id="msgToast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
            {% if isowner %}
                <a href="{% url 'finish' listing.id %}">Finish auction</a>
            {% else %}
                <form action="{%url 'bid' listing.id%}" method="post" id="bidsform">
                    {% csrf_token %}
                    <table>
                        {{ bidform.as_table }}
                    </table>
                    <input type="submit" value="Bid">
                </form>
            {% endif %}
            {% for bid in bids %}
                <div>
                    <b>{{ bid.bidder }}</b><i>({{ bid.bidDate }})</i>:
                    <p>{{ bid.value }}</p>
                </div>
            {% endfor %}
    </div>
        <hr>
        <div>
            <h5>Comments:</h5>
            <form action="" method="post" id="commentsform">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
            </form>
            <hr>
            {% for comment in comments %}
                <div>
                    <b>{{ comment.user }}</b><i>({{ comment.timestamp }})</i>:
                    <p>{{ comment.comment }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}